# Trabajo Práctico 2 - Organización de Datos
## Competencia de Machine Learning
### Facultad de Ingeniería de la Universidad de Buenos Aires
### 95-58: Organización de Datos - 2do Cuat. 2018

#### Integrantes: Gonzalo Diz,  Ariel Windey, Gabriel Robles y Matías El Dócil



#### Objetivo
Determinar, para cada usuario presentado, cuál es la probabilidad de que ese
usuario realice una conversión en Trocafone en un periodo determinado.

#### Fuentes
El archivo "events_up_to_01062018.csv" contiene en el mismo formato utilizado en el TP1
información de eventos realizado en la plataforma para un conjunto de usuarios hasta el
31/05/2018.

Por otro lado el archivo "labels_training_set.csv" indica para un subconjunto de los
usuarios incluidos en el set de eventos "events_up_to_01062018.csv" si los mismos
realizaron una conversión (columna label = 1) o no (columna label = 0) desde el 01/06/2018
hasta el 15/06/2018.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn as skl

%matplotlib inline

pd.set_option('display.max_columns', 100)

In [2]:
# Carga del set de datos de eventos
eventos = pd.read_csv('../dataset/events_up_to_01062018.csv', low_memory=False)
# Carga del set de datos de labels
labels = pd.read_csv('../dataset/labels_training_set.csv', low_memory=False)

In [3]:
eventos.shape

(2341681, 23)

In [4]:
eventos.event.value_counts()

viewed product       1248124
brand listing         216312
visited site          204069
ad campaign hit       191388
generic listing       160176
searched products     130616
search engine hit     106406
checkout               65315
staticpage             11201
conversion              7091
lead                     983
Name: event, dtype: int64

In [5]:
eventos.sample(5)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,search_term,staticpage,campaign_source,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
321921,2018-04-05 20:36:58,viewed product,c9aeb358,NaN,12760.0,Samsung Galaxy S8,Excelente,64GB,Preto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2167571,2018-05-16 17:58:10,visited site,75be0b8f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Paid,New,São Bernardo do Campo,Sao Paulo,Brazil,Computer,1440x900,Windows 10,Chrome 66.0
1959834,2018-05-30 23:54:37,brand listing,75ed178f,NaN,NaN,NaN,NaN,NaN,NaN,"8485,8471,8443,6371,6357,6413,3371,2777,3179,2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1911942,2018-05-31 03:15:21,brand listing,98907d94,NaN,NaN,NaN,NaN,NaN,NaN,"8485,8471,8443,6371,12758,6357,6412,3371,2777,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1179164,2018-05-15 12:12:00,viewed product,812bb198,NaN,8499.0,Samsung Galaxy S7,Bom,32GB,Rosa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Agregamos campos de fecha como en el TP 1
eventos['timestamp'] = pd.to_datetime(eventos['timestamp'])
eventos['hour'] = eventos['timestamp'].dt.hour
eventos['month'] = eventos['timestamp'].dt.month
eventos['week_year'] = eventos['timestamp'].dt.weekofyear
eventos['week'] = eventos['timestamp'].dt.week
eventos['year'] = eventos['timestamp'].dt.year
eventos['day_week'] = eventos['timestamp'].dt.dayofweek
eventos['month_day'] = eventos['timestamp'].dt.day

In [7]:
# Obtenemos un frame con solo los usuarios donde iremos mergeando los features
persons = eventos.person.to_frame().drop_duplicates()

### Región geográfica
Agregamos la región geográfica al igual que en el TP 1, para saber desde donde acceden más los distintos usuarios.

In [8]:
# Categorizamos las regiones geograficamente
eventos['geo_region'] = 0

eventos.loc[
    (eventos['region'] == 'Sao Paulo') |
    (eventos['region'] == 'Rio de Janeiro') |
    (eventos['region'] == 'Minas Gerais') |
    (eventos['region'] == 'Espirito Santo'), 
    'geo_region'
] = 'southeast'

eventos.loc[
    (eventos['region'] == 'Parana') |
    (eventos['region'] == 'Rio Grande do Sul') |
    (eventos['region'] == 'Santa Catarina'), 
    'geo_region'
] = 'south'

eventos.loc[
    (eventos['region'] == 'Federal District') |
    (eventos['region'] == 'Goias') |
    (eventos['region'] == 'Mato Grosso do Sul') |
    (eventos['region'] == 'Mato Grosso'), 
    'geo_region'
] = 'center west'

eventos.loc[
    (eventos['region'] == 'Bahia') |
    (eventos['region'] == 'Pernambuco') |
    (eventos['region'] == 'Ceara') |
    (eventos['region'] == 'Maranhao') |
    (eventos['region'] == 'Rio Grande do Norte') |
    (eventos['region'] == 'Paraíba') |
    (eventos['region'] == 'Piaui') |
    (eventos['region'] == 'Alagoas') |
    (eventos['region'] == 'Sergipe'), 
    'geo_region'
] = 'northeast'

eventos.loc[
    (eventos['region'] == 'Para') |
    (eventos['region'] == 'Amazonas') |
    (eventos['region'] == 'Tocantins') |
    (eventos['region'] == 'Amapa') |
    (eventos['region'] == 'Rondonia') |
    (eventos['region'] == 'Acre') |
    (eventos['region'] == 'Roraima'), 
    'geo_region'
] = 'north'

In [9]:
eventos.geo_region.value_counts()

0              2172865
southeast        97323
northeast        40903
south            14242
center west       9249
north             7099
Name: geo_region, dtype: int64

Creamos columnas booleanas sobre las regiones geograficas para luego agrupar por usuarios.

In [10]:
eventos['cant_accesos_southeast'] = (eventos.geo_region == 'southeast').astype(int)
eventos['cant_accesos_northeast'] = (eventos.geo_region == 'northeast').astype(int)
eventos['cant_accesos_south'] = (eventos.geo_region == 'south').astype(int)
eventos['cant_accesos_center_west'] = (eventos.geo_region == 'center west').astype(int)
eventos['cant_accesos_north'] = (eventos.geo_region == 'north').astype(int)

In [11]:
personas_y_accesos_por_region = eventos.groupby(['person']).agg({
    'cant_accesos_southeast': 'sum', 
    'cant_accesos_northeast': 'sum', 
    'cant_accesos_south': 'sum', 
    'cant_accesos_center_west': 'sum', 
    'cant_accesos_north': 'sum'
}).reset_index()
personas_y_accesos_por_region.head(5)

,person,cant_accesos_north,cant_accesos_center_west,cant_accesos_southeast,cant_accesos_south,cant_accesos_northeast
0,0008ed71,0,0,0,0,0
1,00091926,0,0,0,34,0
2,00091a7a,0,0,1,0,0
3,000ba417,0,0,6,0,0
4,000c79fe,0,0,1,0,0

Agregamos este nuevo feature a nuestro dataframe de features.

In [12]:
user_features = persons.merge(personas_y_accesos_por_region, how='inner', on='person')
user_features.head(5)

,person,cant_accesos_north,cant_accesos_center_west,cant_accesos_southeast,cant_accesos_south,cant_accesos_northeast
0,4886f805,0,0,1,0,0
1,ad93850f,0,0,5,0,0
2,0297fc1e,0,0,95,0,0
3,2d681dd8,0,0,2,0,0
4,cccea85e,0,0,22,0,0

In [13]:
personas_y_times = eventos.groupby(['person']).agg({
    'timestamp': ['min', 'max']
})
personas_y_times.reset_index(inplace=True)
personas_y_times.columns = ['person', 'time_first_event', 'time_last_event']
personas_y_times.head()

     person    time_first_event     time_last_event
0  0008ed71 2018-05-17 12:27:47 2018-05-17 16:28:37
1  00091926 2018-05-03 22:08:29 2018-05-31 19:52:03
2  00091a7a 2018-03-26 14:51:11 2018-03-26 14:56:58
3  000ba417 2018-05-17 11:11:45 2018-05-26 13:09:22
4  000c79fe 2018-05-29 00:27:47 2018-05-29 00:38:07

Agrego la cantidad de días al primer evento del año del usuario, usando como fecha para calcular las diferencias el 1 de junio de 2018 (dato del enunciado).

In [14]:
last_date = pd.to_datetime("2018/06/01")
personas_y_times['how_long_ago_was_first_event'] = (last_date - personas_y_times.time_first_event)
personas_y_times['how_long_ago_was_last_event'] = (last_date - personas_y_times.time_last_event)
personas_y_times['first_and_last_event_distance'] = (personas_y_times.time_last_event - personas_y_times.time_first_event)
personas_y_times.head()

,person,time_first_event,time_last_event,how_long_ago_was_first_event,how_long_ago_was_last_event,first_and_last_event_distance
0,0008ed71,2018-05-17 12:27:47,2018-05-17 16:28:37,14 days 11:32:13,14 days 07:31:23,0 days 04:00:50
1,00091926,2018-05-03 22:08:29,2018-05-31 19:52:03,28 days 01:51:31,0 days 04:07:57,27 days 21:43:34
2,00091a7a,2018-03-26 14:51:11,2018-03-26 14:56:58,66 days 09:08:49,66 days 09:03:02,0 days 00:05:47
3,000ba417,2018-05-17 11:11:45,2018-05-26 13:09:22,14 days 12:48:15,5 days 10:50:38,9 days 01:57:37
4,000c79fe,2018-05-29 00:27:47,2018-05-29 00:38:07,2 days 23:32:13,2 days 23:21:53,0 days 00:10:20

Queremos ver la frecuencia de eventos de los usuarios y para ello queremos saber la cantidad total de eventos que genero cada usuario

In [15]:
# Agrego cantidad total de eventos que hizo cada usuario
eventos['cant_total_eventos'] = 1
cant_total_eventos_por_usuario = eventos.groupby(['person']).agg({'cant_total_eventos': 'sum'}).reset_index()
cant_total_eventos_por_usuario.head()

     person  cant_total_eventos
0  0008ed71                   6
1  00091926                 448
2  00091a7a                  10
3  000ba417                 206
4  000c79fe                  17

In [16]:
personas_times_y_eventos_totales = personas_y_times.merge(cant_total_eventos_por_usuario, how='inner', on='person')
personas_times_y_eventos_totales.head()

,person,time_first_event,time_last_event,how_long_ago_was_first_event,how_long_ago_was_last_event,first_and_last_event_distance,cant_total_eventos
0,0008ed71,2018-05-17 12:27:47,2018-05-17 16:28:37,14 days 11:32:13,14 days 07:31:23,0 days 04:00:50,6
1,00091926,2018-05-03 22:08:29,2018-05-31 19:52:03,28 days 01:51:31,0 days 04:07:57,27 days 21:43:34,448
2,00091a7a,2018-03-26 14:51:11,2018-03-26 14:56:58,66 days 09:08:49,66 days 09:03:02,0 days 00:05:47,10
3,000ba417,2018-05-17 11:11:45,2018-05-26 13:09:22,14 days 12:48:15,5 days 10:50:38,9 days 01:57:37,206
4,000c79fe,2018-05-29 00:27:47,2018-05-29 00:38:07,2 days 23:32:13,2 days 23:21:53,0 days 00:10:20,17

Pasamos la distancia entre el primer y el último evento del usuario a "días" (sumando 1 para los casos que hay 0 días de distancia). Con esto podremos dividir la cantidad de eventos totales sobre esta distancia para obtener la "cantidad promedio de eventos por día por usuario".

In [17]:
personas_times_y_eventos_totales['first_and_last_event_distance_in_days'] = personas_times_y_eventos_totales.first_and_last_event_distance.dt.days + 1
personas_times_y_eventos_totales['mean_events_per_day'] = personas_times_y_eventos_totales.cant_total_eventos / personas_times_y_eventos_totales.first_and_last_event_distance_in_days
personas_times_y_eventos_totales.head()

,person,time_first_event,time_last_event,how_long_ago_was_first_event,how_long_ago_was_last_event,first_and_last_event_distance,cant_total_eventos,first_and_last_event_distance_in_days,mean_events_per_day
0,0008ed71,2018-05-17 12:27:47,2018-05-17 16:28:37,14 days 11:32:13,14 days 07:31:23,0 days 04:00:50,6,1,6.0
1,00091926,2018-05-03 22:08:29,2018-05-31 19:52:03,28 days 01:51:31,0 days 04:07:57,27 days 21:43:34,448,28,16.0
2,00091a7a,2018-03-26 14:51:11,2018-03-26 14:56:58,66 days 09:08:49,66 days 09:03:02,0 days 00:05:47,10,1,10.0
3,000ba417,2018-05-17 11:11:45,2018-05-26 13:09:22,14 days 12:48:15,5 days 10:50:38,9 days 01:57:37,206,10,20.6
4,000c79fe,2018-05-29 00:27:47,2018-05-29 00:38:07,2 days 23:32:13,2 days 23:21:53,0 days 00:10:20,17,1,17.0

In [18]:
user_features2 = user_features.merge(personas_times_y_eventos_totales, how='inner', on='person')
# user_features2.to_csv('features_ariel.csv')

Analizaremos la franja horaria de mayor uso de caso usuario. Para ello haremos la siguiente categorización de los eventos:
* Accesos de 00:00hs a 05:59hs serán **madrugada**
* Accesos de 06:00hs a 11:59hs serán **mañana**
* Accesos de 12:00hs a 17:59hs serán **tarde**
* Accesos de 18:00hs a 23:59hs serán **noche**

In [19]:
eventos['cant_ev_madrugada'] = ((eventos.hour >= 0) & (eventos.hour < 7)).astype(int)
eventos['cant_ev_manana'] = ((eventos.hour >= 7) & (eventos.hour < 12)).astype(int)
eventos['cant_ev_tarde'] = ((eventos.hour >= 12) & (eventos.hour < 18)).astype(int)
eventos['cant_ev_noche'] = ((eventos.hour >= 18) & (eventos.hour < 24)).astype(int)

In [20]:
eventos.cant_ev_madrugada.value_counts()

0    1815212
1     526469
Name: cant_ev_madrugada, dtype: int64

In [21]:
eventos.cant_ev_manana.value_counts()

0    2182460
1     159221
Name: cant_ev_manana, dtype: int64

In [22]:
eventos.cant_ev_tarde.value_counts()

0    1524261
1     817420
Name: cant_ev_tarde, dtype: int64

In [23]:
eventos.cant_ev_noche.value_counts()

0    1503110
1     838571
Name: cant_ev_noche, dtype: int64

In [24]:
df = eventos.groupby(['person']).agg({
    'cant_ev_madrugada': 'sum',
    'cant_ev_manana': 'sum',
    'cant_ev_tarde': 'sum',
    'cant_ev_noche': 'sum'
})
df['franja_horaria_moda'] = df.idxmax(axis=1)
usuarios_y_cant_eventos_por_franja_horaria = df.reset_index()
usuarios_y_cant_eventos_por_franja_horaria.head()

,person,cant_ev_madrugada,cant_ev_tarde,cant_ev_manana,cant_ev_noche,franja_horaria_moda
0,0008ed71,0,6,0,0,cant_ev_tarde
1,00091926,313,0,0,135,cant_ev_madrugada
2,00091a7a,0,10,0,0,cant_ev_tarde
3,000ba417,0,149,57,0,cant_ev_tarde
4,000c79fe,17,0,0,0,cant_ev_madrugada

In [25]:
usuarios_y_cant_eventos_por_franja_horaria.franja_horaria_moda.value_counts()

cant_ev_tarde        14222
cant_ev_noche        13838
cant_ev_madrugada     8632
cant_ev_manana        2137
Name: franja_horaria_moda, dtype: int64

In [27]:
user_features3 = user_features2.merge(usuarios_y_cant_eventos_por_franja_horaria, how='inner', on='person')
user_features3
# user_features3.to_csv('features_ariel.csv')

Analizaremos ahora el estado de los dispotivos moda de cada usuario

In [29]:
eventos.condition.value_counts()

Bom                   547617
Excelente             378697
Muito Bom             359053
Bom - Sem Touch ID     31742
Novo                    3421
Name: condition, dtype: int64

Agregaremos las columnas de cantidad de eventos para las distintas condiciones de los productos, para luego agrupar por usuario y sumar los totales.

In [31]:
eventos['cant_buenos'] = ((eventos.condition == 'Bom') | (eventos.condition == 'Bom - Sem Touch ID')).astype(int)
eventos['cant_excelentes'] = (eventos.condition == 'Excelente').astype(int)
eventos['cant_muy_buenos'] = (eventos.condition == 'Muito Bom').astype(int)
eventos['cant_nuevos'] = (eventos.condition == 'Novo').astype(int)

In [39]:
df = eventos.groupby(['person']).agg({
    'cant_buenos': 'sum',
    'cant_excelentes': 'sum',
    'cant_muy_buenos': 'sum',
    'cant_nuevos': 'sum'
})
df['condicion_de_producto_moda'] = df.idxmax(axis=1)
df.loc[
    (df['condicion_de_producto_moda'] == 'cant_buenos') , 
    'condicion_de_producto_moda'
] = 'buenos'
df.loc[
    (df['condicion_de_producto_moda'] == 'cant_excelentes') , 
    'condicion_de_producto_moda'
] = 'excelentes'
df.loc[
    (df['condicion_de_producto_moda'] == 'cant_muy_buenos') , 
    'condicion_de_producto_moda'
] = 'muy buenos'
df.loc[
    (df['condicion_de_producto_moda'] == 'cant_nuevos') , 
    'condicion_de_producto_moda'
] = 'nuevos'
usuarios_y_condicion_producto = df.reset_index()
usuarios_y_condicion_producto.head(10)

,person,cant_muy_buenos,cant_excelentes,cant_nuevos,cant_buenos,condicion_de_producto_moda
0,0008ed71,1,0,0,2,buenos
1,00091926,163,108,1,102,muy buenos
2,00091a7a,0,2,0,1,excelentes
3,000ba417,34,11,0,115,buenos
4,000c79fe,0,0,0,4,buenos
5,000e4d9e,163,53,0,124,muy buenos
6,000e619d,8,7,0,14,buenos
7,001001be,19,1,0,25,buenos
8,0010e89a,0,0,0,2,buenos
9,0016c4b5,0,0,0,2,buenos

In [40]:
user_features4 = user_features3.merge(usuarios_y_condicion_producto, how='inner', on='person')
user_features4
# user_features3.to_csv('features_ariel.csv')

,person,cant_accesos_north,cant_accesos_center_west,cant_accesos_southeast,cant_accesos_south,cant_accesos_northeast,time_first_event,time_last_event,how_long_ago_was_first_event,how_long_ago_was_last_event,first_and_last_event_distance,cant_total_eventos,first_and_last_event_distance_in_days,mean_events_per_day,cant_ev_madrugada,cant_ev_tarde,cant_ev_manana,cant_ev_noche,franja_horaria_moda,cant_muy_buenos,cant_excelentes,cant_nuevos,cant_buenos,condicion_de_producto_moda
0,4886f805,0,0,1,0,0,2018-05-18 00:07:22,2018-05-18 00:30:30,13 days 23:52:38,13 days 23:29:30,0 days 00:23:08,9,1,9.000000,9,0,0,0,cant_ev_madrugada,1,4,0,0,excelentes
1,ad93850f,0,0,5,0,0,2018-05-14 23:50:22,2018-05-22 22:50:54,17 days 00:09:38,9 days 01:09:06,7 days 23:00:32,65,8,8.125000,34,0,0,31,cant_ev_madrugada,7,4,0,10,buenos
2,0297fc1e,0,0,95,0,0,2018-01-09 22:56:34,2018-05-28 11:50:12,142 days 01:03:26,3 days 12:09:48,138 days 12:53:38,567,139,4.079137,151,202,45,169,cant_ev_tarde,119,46,0,246,buenos
3,2d681dd8,0,0,2,0,0,2018-05-18 00:08:29,2018-05-27 19:42:49,13 days 23:51:31,4 days 04:17:11,9 days 19:34:20,26,10,2.600000,10,0,0,16,cant_ev_noche,0,0,0,14,buenos
4,cccea85e,0,0,22,0,0,2018-05-07 22:32:59,2018-05-31 14:38:30,24 days 01:27:01,0 days 09:21:30,23 days 16:05:31,836,24,34.833333,155,120,0,561,cant_ev_noche,347,191,1,201,muy buenos
5,4c8a8b93,0,0,20,0,0,2018-05-18 00:25:14,2018-05-22 00:33:18,13 days 23:34:46,9 days 23:26:42,4 days 00:08:04,257,5,51.400000,107,81,2,67,cant_ev_madrugada,39,76,2,62,excelentes
6,1b9f7cf6,0,0,0,0,0,2018-05-17 19:25:08,2018-05-21 10:13:50,14 days 04:34:52,10 days 13:46:10,3 days 14:48:42,25,4,6.250000,8,0,2,15,cant_ev_noche,2,0,0,8,buenos
7,29ebb414,0,0,4,0,0,2018-05-18 00:36:16,2018-05-20 17:37:37,13 days 23:23:44,11 days 06:22:23,2 days 17:01:21,35,3,11.666667,20,9,0,6,cant_ev_madrugada,3,4,0,2,excelentes
8,de8fe91b,0,0,2,0,0,2018-05-18 00:36:03,2018-05-21 22:37:28,13 days 23:23:57,10 days 01:22:32,3 days 22:01:25,53,4,13.250000,34,0,0,19,cant_ev_madrugada,12,8,0,8,muy buenos
9,45baf068,0,0,0,0,0,2018-05-18 00:39:56,2018-05-18 00:54:48,13 days 23:20:04,13 days 23:05:12,0 days 00:14:52,20,1,20.000000,20,0,0,0,cant_ev_madrugada,0,0,0,7,buenos
10,99abca5a,0,0,54,0,0,2018-04-03 00:11:39,2018-05-29 21:16:41,58 days 23:48:21,2 days 02:43:19,56 days 21:05:02,819,57,14.368421,587,101,3,128,cant_ev_madrugada,171,356,3,120,excelentes
11,3dc1950f,0,0,3,0,25,2018-04-18 11:29:56,2018-05-29 17:27:44,43 days 12:30:04,2 days 06:32:16,41 days 05:57:48,672,42,16.000000,60,391,57,164,cant_ev_tarde,266,157,6,169,muy buenos
12,8ea4c165,0,0,7,0,0,2018-04-28 17:09:15,2018-05-19 14:21:59,33 days 06:50:45,12 days 09:38:01,20 days 21:12:44,159,21,7.571429,109,34,0,16,cant_ev_madrugada,24,52,0,24,excelentes
13,64f45e8d,3,0,0,0,0,2018-05-17 20:44:14,2018-05-18 00:37:34,14 days 03:15:46,13 days 23:22:26,0 days 03:53:20,47,1,47.000000,8,0,0,39,cant_ev_noche,7,17,0,10,excelentes
14,d8cfe234,0,0,0,0,0,2018-04-10 15:05:53,2018-05-22 19:30:12,51 days 08:54:07,9 days 04:29:48,42 days 04:24:19,62,43,1.441860,34,20,0,8,cant_ev_madrugada,12,12,0,19,buenos
15,ade6b3bf,0,0,0,0,13,2018-05-17 00:44:37,2018-05-31 22:12:58,14 days 23:15:23,0 days 01:47:02,14 days 21:28:21,139,15,9.266667,55,20,5,59,cant_ev_noche,20,15,0,58,buenos
16,d73ae9ef,0,0,0,1,0,2018-05-18 00:27:40,2018-05-18 00:37:14,13 days 23:32:20,13 days 23:22:46,0 days 00:09:34,17,1,17.000000,17,0,0,0,cant_ev_madrugada,0,0,0,6,buenos
17,d6bc64df,5,0,0,0,2,2018-04-17 06:28:58,2018-05-18 00:36:12,44 days 17:31:02,13 days 23:23:48,30 days 18:07:14,213,31,6.870968,84,0,85,44,cant_ev_manana,39,20,0,98,buenos
18,ec9c4059,0,0,6,0,0,2018-04-25 12:27:58,2018-05-18 14:50:53,36 days 11:32:02,13 days 09:09:07,23 days 02:22:55,98,24,4.083333,24,20,20,34,cant_ev_noche,0,3,0,25,buenos
19,b2cde41a,0,0,0,0,0,2018-05-18 00:28:02,2018-05-25 00:43:28,13 days 23:31:58,6 days 23:16:32,7 days 00:15:26,37,8,4.625000,31,0,0,6,cant_ev_madrugada,4,12,0,12,excelentes
20,15ea8012,0,0,3,0,0,2018-05-17 16:13:21,2018-05-18 03:08:35,14 days 07:46:39,13 days 20:51:25,0 days 10:55:14,75,1,75.000000,58,17,0,0,cant_ev_madrugada,3,17,1,11,excelentes
21,43790d8f,0,0,2,0,0,2018-05-18 00:10:36,2018-05-29 00:16:08,13 days 23:49:24,2 days 23:43:52,11 days 00:05:32,76,12,6.333333,76,0,0,0,cant_ev_madrugada,11,15,0,38,buenos
22,d21b8e6b,0,0,0,0,0,2018-05-18 00:15:01,2018-05-18 00:30:34,13 days 23:44:59,13 days 23:29:26,0 days 00:15:33,13,1,13.000000,13,0,0,0,cant_ev_madrugada,3,0,0,4,buenos
23,2a724d87,0,0,0,0,0,2018-05-18 00:29:14,2018-05-18 00:37:01,13 days 23:30:46,13 days 23:22:59,0 days 00:07:47,7,1,7.000000,7,0,0,0,cant_ev_madrugada,0,0,0,2,buenos
24,429c8732,0,0,56,0,0,2018-03-19 18:19:42,2018-05-25 03:10:24,73 days 05:40:18,6 days 20:49:36,66 days 08:50:42,1375,67,20.522388,773,275,88,239,cant_ev_madrugada,336,247,0,495,buenos
25,686c49c9,0,0,5,0,0,2018-05-07 12:39:52,2018-05-18 01:05:32,24 days 11:20:08,13 days 22:54:28,10 days 12:25:40,35,11,3.181818,10,16,0,9,cant_ev_tarde,5,9,0,5,excelentes
26,4e03ed9a,0,0,0,0,3,2018-05-18 00:18:02,2018-05-25 01:18:58,13 days 23:41:58,6 days 22:41:02,7 days 01:00:56,25,8,3.125000,21,0,0,4,cant_ev_madrugada,0,0,0,5,buenos
27,a08d42ea,0,0,5,0,0,2018-05-17 21:43:33,2018-05-21 14:19:13,14 days 02:16:27,10 days 09:40:47,3 days 16:35:40,59,4,14.750000,38,9,0,12,cant_ev_madrugada,14,8,1,20,buenos
28,16fad36a,0,0,54,0,0,2018-03-07 19:47:50,2018-05-29 21:54:50,85 days 04:12:10,2 days 02:05:10,83 days 02:07:00,1534,84,18.261905,389,364,41,740,cant_ev_noche,330,231,2,744,buenos
29,be32e904,0,0,0,0,0,2018-05-17 23:51:30,2018-05-18 00:23:34,14 days 00:08:30,13 days 23:36:26,0 days 00:32:04,23,1,23.000000,11,0,0,12,cant_ev_noche,3,0,0,7,buenos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38799,154d2935,0,0,0,0,0,2018-05-23 00:13:37,2018-05-23 00:13:37,8 days 23:46:23,8 days 23:46:23,0 days 00:00:00,1,1,1.000000,1,0,0,0,cant_ev_madrugada,0,0,0,0,muy buenos
38800,3adf7ca4,0,0,3,0,0,2018-05-24 15:04:18,2018-05-27 00:36:46,7 days 08:55:42,4 days 23:23:14,2 days 09:32:28,11,3,3.666667,4,6,0,1,cant_ev_tarde,0,0,0,0,muy buenos
38801,c9552fad,0,0,1,0,1,2018-05-25 16:51:19,2018-05-27 01:36:34,6 days 07:08:41,4 days 22:23:26,1 days 08:45:15,4,2,2.000000,2,2,0,0,cant_ev_madrugada,0,0,0,0,muy buenos
38802,2e89874a,0,0,0,0,0,2018-05-27 18:32:36,2018-05-27 18:32:36,4 days 05:27:24,4 days 05:27:24,0 days 00:00:00,1,1,1.000000,0,0,0,1,cant_ev_noche,0,0,0,0,muy buenos
38803,ef4e52ab,0,0,1,0,0,2018-04-05 19:28:05,2018-04-05 19:28:08,56 days 04:31:55,56 days 04:31:52,0 days 00:00:03,2,1,2.000000,0,0,0,2,cant_ev_noche,0,0,0,0,muy buenos
38804,100f33c8,0,0,1,0,0,2018-05-27 19:46:39,2018-05-28 02:00:22,4 days 04:13:21,3 days 21:59:38,0 days 06:13:43,5,1,5.000000,3,0,0,2,cant_ev_madrugada,0,0,0,0,muy buenos
38805,90251b6a,0,0,0,0,0,2018-05-24 14:50:54,2018-05-24 14:56:19,7 days 09:09:06,7 days 09:03:41,0 days 00:05:25,2,1,2.000000,0,2,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38806,85e0f62a,2,0,0,0,0,2018-05-31 02:42:27,2018-05-31 09:53:18,0 days 21:17:33,0 days 14:06:42,0 days 07:10:51,17,1,17.000000,12,0,5,0,cant_ev_madrugada,0,0,0,0,muy buenos
38807,0afaecc8,1,0,0,0,0,2018-05-19 14:39:11,2018-05-19 14:39:11,12 days 09:20:49,12 days 09:20:49,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38808,2c209f87,0,0,0,0,0,2018-05-25 11:33:56,2018-05-25 17:53:55,6 days 12:26:04,6 days 06:06:05,0 days 06:19:59,3,1,3.000000,0,2,1,0,cant_ev_tarde,0,0,0,0,muy buenos
38809,4ddb8c19,0,1,0,0,0,2018-05-31 00:04:54,2018-05-31 00:04:54,0 days 23:55:06,0 days 23:55:06,0 days 00:00:00,1,1,1.000000,1,0,0,0,cant_ev_madrugada,0,0,0,0,muy buenos
38810,9979305a,0,13,0,0,0,2018-05-16 00:55:48,2018-05-31 22:54:12,15 days 23:04:12,0 days 01:05:48,15 days 21:58:24,15,16,0.937500,5,2,0,8,cant_ev_noche,0,0,0,0,muy buenos
38811,25bd8078,0,0,4,0,0,2018-02-07 14:15:46,2018-05-06 23:55:22,113 days 09:44:14,25 days 00:04:38,88 days 09:39:36,7,89,0.078652,1,2,1,3,cant_ev_noche,0,0,0,0,muy buenos
38812,87d306fc,0,0,5,0,0,2018-05-03 20:47:14,2018-05-25 19:28:04,28 days 03:12:46,6 days 04:31:56,21 days 22:40:50,5,22,0.227273,0,3,0,2,cant_ev_tarde,0,0,0,0,muy buenos
38813,a2b1e355,0,0,0,0,0,2018-04-24 02:24:38,2018-04-24 02:24:38,37 days 21:35:22,37 days 21:35:22,0 days 00:00:00,1,1,1.000000,1,0,0,0,cant_ev_madrugada,0,0,0,0,muy buenos
38814,fb88a7ea,0,0,0,0,1,2018-02-16 14:40:06,2018-02-16 14:40:06,104 days 09:19:54,104 days 09:19:54,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38815,1315ce31,0,0,10,0,0,2018-05-12 04:56:46,2018-05-17 17:32:23,19 days 19:03:14,14 days 06:27:37,5 days 12:35:37,10,6,1.666667,4,4,1,1,cant_ev_madrugada,0,0,0,0,muy buenos
38816,af3374ad,0,0,1,0,0,2018-05-15 16:12:51,2018-05-15 17:21:10,16 days 07:47:09,16 days 06:38:50,0 days 01:08:19,2,1,2.000000,0,2,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38817,023581f9,0,0,1,0,0,2018-05-27 21:02:16,2018-05-27 21:02:16,4 days 02:57:44,4 days 02:57:44,0 days 00:00:00,1,1,1.000000,0,0,0,1,cant_ev_noche,0,0,0,0,muy buenos
38818,9707cd0e,0,0,1,0,0,2018-05-30 18:40:10,2018-05-30 18:40:10,1 days 05:19:50,1 days 05:19:50,0 days 00:00:00,1,1,1.000000,0,0,0,1,cant_ev_noche,0,0,0,0,muy buenos
38819,88b91c5d,0,0,0,1,0,2018-05-20 13:06:15,2018-05-20 13:06:15,11 days 10:53:45,11 days 10:53:45,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38820,6f7632db,0,0,0,0,0,2018-05-21 00:36:14,2018-05-21 00:36:14,10 days 23:23:46,10 days 23:23:46,0 days 00:00:00,1,1,1.000000,1,0,0,0,cant_ev_madrugada,0,0,0,0,muy buenos
38821,a1c2a901,0,0,0,0,1,2018-05-17 00:10:16,2018-05-17 00:10:16,14 days 23:49:44,14 days 23:49:44,0 days 00:00:00,1,1,1.000000,1,0,0,0,cant_ev_madrugada,0,0,0,0,muy buenos
38822,ed3f80d7,0,0,1,0,0,2018-04-18 23:40:31,2018-04-18 23:40:31,43 days 00:19:29,43 days 00:19:29,0 days 00:00:00,1,1,1.000000,0,0,0,1,cant_ev_noche,0,0,0,0,muy buenos
38823,2adb3684,0,0,0,0,0,2018-04-21 21:23:16,2018-04-21 21:23:16,40 days 02:36:44,40 days 02:36:44,0 days 00:00:00,1,1,1.000000,0,0,0,1,cant_ev_noche,0,0,0,0,muy buenos
38824,39fa45b6,0,0,1,0,0,2018-04-22 16:07:21,2018-04-22 16:07:21,39 days 07:52:39,39 days 07:52:39,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38825,92f2d94b,0,0,0,0,0,2018-03-23 16:19:07,2018-03-23 16:19:07,69 days 07:40:53,69 days 07:40:53,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38826,d8d6b0da,0,0,0,0,0,2018-05-24 15:00:13,2018-05-24 15:00:13,7 days 08:59:47,7 days 08:59:47,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38827,40bf23ab,0,0,0,0,0,2018-05-30 12:22:07,2018-05-30 12:22:07,1 days 11:37:53,1 days 11:37:53,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos
38828,80aea0a0,0,0,0,0,0,2018-05-30 17:34:40,2018-05-30 17:34:40,1 days 06:25:20,1 days 06:25:20,0 days 00:00:00,1,1,1.000000,0,1,0,0,cant_ev_tarde,0,0,0,0,muy buenos