In [1]:
import pandas as pd
# loading libraries
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

/home/gonza/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
features_gaby = pd.read_csv('../features/features_gaby.csv')
#features_gonza = pd.read_csv('../features/most_viewed_sku_per_person.csv').drop(columns='Unnamed: 0')
features_ari = pd.read_csv('../features/features_ariel.csv')
#features_mati = pd.read_csv('../features/events_qty_per_person.csv')
labels_training_set = pd.read_csv('../dataset/labels_training_set.csv')
test_set = pd.read_csv('../dataset/trocafone_kaggle_test.csv')

In [3]:
#model_df = pd.merge(features_gaby, features_gonza, how='inner', on='person')
model_df = pd.merge(features_gaby, features_ari, how='inner', on='person')
#model_df = pd.merge(model_df, features_gaby, how='inner', on='person')
model_df.head()

,person,marca_favorita,nivel_de_actividad,Unnamed: 0,cant_accesos_north,cant_accesos_center_west,cant_accesos_southeast,cant_accesos_south,cant_accesos_northeast,time_first_event,...,cant_ev_madrugada,cant_ev_tarde,cant_ev_manana,cant_ev_noche,franja_horaria_moda,cant_muy_buenos,cant_excelentes,cant_nuevos,cant_buenos,condicion_de_producto_moda
0,0008ed71,apple,Muy Bajo,35768,0,0,0,0,0,2018-05-17 12:27:47,...,0,6,0,0,cant_ev_tarde,1,0,0,2,buenos
1,00091926,apple,Muy Alto,44,0,0,0,34,0,2018-05-03 22:08:29,...,313,0,0,135,cant_ev_madrugada,163,108,1,102,muy buenos
2,00091a7a,apple,Muy Bajo,17713,0,0,1,0,0,2018-03-26 14:51:11,...,0,10,0,0,cant_ev_tarde,0,2,0,1,excelentes
3,000ba417,samsung,Alto,8818,0,0,6,0,0,2018-05-17 11:11:45,...,0,149,57,0,cant_ev_tarde,34,11,0,115,buenos
4,000c79fe,apple,Bajo,3967,0,0,1,0,0,2018-05-29 00:27:47,...,17,0,0,0,cant_ev_madrugada,0,0,0,4,buenos

In [4]:
training_set = pd.merge(model_df, labels_training_set, how='inner', on='person')
test_set = pd.merge(model_df, test_set, how='inner', on='person')

In [5]:
training_set.drop(columns= 'Unnamed: 0', inplace=True)

In [6]:
X = np.array(training_set.ix[:,1:24])

/home/gonza/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [7]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19414 entries, 0 to 19413
Data columns (total 27 columns):
person                                   19414 non-null object
marca_favorita                           19414 non-null object
nivel_de_actividad                       19414 non-null object
cant_accesos_north                       19414 non-null int64
cant_accesos_center_west                 19414 non-null int64
cant_accesos_southeast                   19414 non-null int64
cant_accesos_south                       19414 non-null int64
cant_accesos_northeast                   19414 non-null int64
time_first_event                         19414 non-null object
time_last_event                          19414 non-null object
how_long_ago_was_first_event             19414 non-null object
how_long_ago_was_last_event              19414 non-null object
first_and_last_event_distance            19414 non-null object
cant_total_eventos                       19414 non-null int64
first_and_last_event_distance_in_days    19414 non-null int64
mean_events_per_day                      19414 non-null float64
cant_ev_madrugada                        19414 non-null int64
cant_ev_tarde                            19414 non-null int64
cant_ev_manana                           19414 non-null int64
cant_ev_noche                            19414 non-null int64
franja_horaria_moda                      19414 non-null object
cant_muy_buenos                          19414 non-null int64
cant_excelentes                          19414 non-null int64
cant_nuevos                              19414 non-null int64
cant_buenos                              19414 non-null int64
condicion_de_producto_moda               19414 non-null object
label                                    19414 non-null int64
dtypes: float64(1), int64(16), object(10)
memory usage: 4.1+ MB

In [8]:
training_set['label'].value_counts()

0    18434
1      980
Name: label, dtype: int64

In [9]:
r_training_set = training_set.drop(training_set[training_set.label.eq(0)].sample(10000).index)

In [10]:
r_training_set['label'].value_counts()

0    8434
1     980
Name: label, dtype: int64

In [11]:
r_training_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9414 entries, 0 to 19412
Data columns (total 27 columns):
person                                   9414 non-null object
marca_favorita                           9414 non-null object
nivel_de_actividad                       9414 non-null object
cant_accesos_north                       9414 non-null int64
cant_accesos_center_west                 9414 non-null int64
cant_accesos_southeast                   9414 non-null int64
cant_accesos_south                       9414 non-null int64
cant_accesos_northeast                   9414 non-null int64
time_first_event                         9414 non-null object
time_last_event                          9414 non-null object
how_long_ago_was_first_event             9414 non-null object
how_long_ago_was_last_event              9414 non-null object
first_and_last_event_distance            9414 non-null object
cant_total_eventos                       9414 non-null int64
first_and_last_event_distance_in_days    9414 non-null int64
mean_events_per_day                      9414 non-null float64
cant_ev_madrugada                        9414 non-null int64
cant_ev_tarde                            9414 non-null int64
cant_ev_manana                           9414 non-null int64
cant_ev_noche                            9414 non-null int64
franja_horaria_moda                      9414 non-null object
cant_muy_buenos                          9414 non-null int64
cant_excelentes                          9414 non-null int64
cant_nuevos                              9414 non-null int64
cant_buenos                              9414 non-null int64
condicion_de_producto_moda               9414 non-null object
label                                    9414 non-null int64
dtypes: float64(1), int64(16), object(10)
memory usage: 2.0+ MB

In [12]:
features = ['cant_total_eventos',
           'cant_ev_madrugada',
           'cant_ev_tarde',
           'cant_ev_noche',
           'cant_ev_manana',
           'cant_excelentes',
           'cant_nuevos',
           'cant_buenos',
           'first_and_last_event_distance_in_days',
           'mean_events_per_day']

In [13]:
x = np.array(r_training_set[features])
y = np.array(r_training_set['label'])

In [14]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.20, random_state=7506)

In [15]:
best_accuracy = 0
worst_accuracy = 1
best_k = 0
worst_k = 0
best_prediction = []
for i in xrange(1,1001,2):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    pred = knn.predict(X_test)
    accuracy = accuracy_score(y_test,pred)
    if (accuracy > best_accuracy) :
        best_k = i
        best_accuracy = accuracy
        best_prediction = pred
    if (accuracy < worst_accuracy) : 
        worst_accuracy = accuracy
        worst_k = i

In [16]:
print 'Best accuracy: ' + str(best_accuracy) + ' with k='  + str(best_k)
print 'Worst accuracy: ' + str(worst_accuracy) + ' with k= ' + str(worst_k)

Best accuracy: 0.8911311736590547 with k=21
Worst accuracy: 0.816250663834307 with k= 1

In [17]:
bunique_elements, counts_elements = np.unique(best_prediction, return_counts=True)
bunique_elements

array([0])

In [18]:
counts_elements

array([1883])

In [19]:
z = np.array(test_set[features])
pred = knn.predict(z)

In [20]:
persons = test_set['person']

In [21]:
submit = pd.DataFrame({'label': pred, 'person': persons})
submit = submit[['person', 'label']]

submit.to_csv('../submits/submit_test2_knn.csv', index=False)
submit['label'].value_counts()

0    19415
Name: label, dtype: int64